<div class="presentationfiles">
	<div class="presentationpane nicescroll">
		<div class="welcome container-fluid" ng-show="loading || (!currentPresentation && activeDownloads.length)">
			<h1>{{_('Loading presentation ...')}}</h1>
			<div class="progress" ng-repeat="download in activeDownloads | orderBy: 'sortkey'">
				<span class="download-info">{{download.info.name}} ({{download.info.size|humanizeFilesize}} / {{download.progress}}%)</span>
				<div class="progress-bar progress-bar-success" ng-style="{'width': download.progress+'%'}"></div>
			</div>
		</div>
		<div class="welcome container-fluid" ng-hide="currentPresentation || loading">
			<h1>{{_('Please upload a document')}}</h1>
			<div>
				<p>{{_('Documents are shared with everyone in this call. The supported file types are PDF and OpenDocument files.')}}</p>
				<p><button class="btn btn-lg btn-primary">{{_('Upload')}}</button></p>
				<p>{{_('You can drag files here too.')}}</p>
			</div>
		</div>
		<div class="canvasContainer" ng-if="currentPresentation" ng-hide="loading" ng-switch="currentPresentation.type">
			<pdfcanvas ng-switch-when="pdf" />
			<odfcanvas ng-switch-when="odf" />
		</div>
	</div>
</div>
